:root{
    --fundo: #202239;
    --azul: #1f65c2;
    --laranja: #d45f25;
    --branco: #f2f2f2;
}

*{
    margin: 0; padding: 0;
    background-color: var(--fundo); color: var(--branco);
}
header {
   
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header img{

    height: 100px;
}
header ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}
header ul li{
    display: flex;
    margin: 20px;
    width: 150px;
    height: 30px;
    background-image: linear-gradient (var(--laranja), var(--azul));
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner{
    margin: 30px;
    height: 500px;
    animation: slide1 10s infinite;
}

@keyframes slide1{
    0%,35%{
        background-image: url(../estilos/midias/a1e9b6e4de72367d4bf9fb02c7b6e358.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
    35%,65%{
        background-image: url(../estilos/midias/d116474221f9828898a902819c4da6e3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }    
   70%,100%{
        background-image: url(../estilos/6f0d96748328d3d89994a57abf5ab9d8.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }

}

.local{
    margin: 30px;
    background-color: var(--laranja);
    text-align: center;
}
iframe{
    margin: 30px;
}
